[FORMAT]
max-line-length=120

disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    fixme,
    too-few-public-methods,

[BASIC]
good-names=
    T,
    S