[FORMAT]
max-line-length=120

disable=
    invalid-name,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    fixme,
    too-few-public-methods,
    no-member,  # temporary bug in pylint+attrs

[BASIC]
good-names=
    T,
    S,
    L,
    F,
    i